# 功能開關
ENABLE_OUTBOUND_CAMPAIGN=true   # 自動外播功能
ENABLE_MORNING_CALL=true        # 自動語音通知 (Morning Call)

# 是否啟用完整日誌輸出 (true/false)
IS_FULL_LOG=true

# 應用服務設定
HTTP_PORT=4020
NODE_ENV=production

# Bonsale API 連接設定
BONSALE_HOST=https://your-bonsale-api-endpoint/service
BONSALE_X_API_KEY=<YOUR_API_KEY>
BONSALE_X_API_SECRET=<YOUR_API_SECRET>

# ================== 專案自動外播 ==================
# 3CX 系統連接
HTTP_HOST_3CX=https://your-3cx-host
WS_HOST_3CX=wss://your-3cx-host

# 服務器重啟時是否自動恢復撥打任務 (true/false)
AUTO_RECOVER_ON_RESTART=true

# AI 訊息服務 ( 給 PY 用 )
HTTP_HOST_MESSAGE_FOR_AI=http://{your-message-service-host}:8510

# 預設支援的呼叫者類型，逗號分隔串接
# 目前支援的類型有：Wqueue, Wextension, Wroutepoint
DEFAULT_SUPPORTED_CALL_TYPES=Wextension

# 是否啟用空閒檢查功能 (true/false)
# 啟用後，當撥號名單太久沒撥號時，系統會自動檢查並嘗試恢復撥號
IS_STARTIDLECHECK=true

# 當前檢查間隔（毫秒）
IDLE_CHECK_INTERVAL=30000

# 最小檢查間隔（毫秒）
MIN_IDLE_CHECK_INTERVAL=30000

# 最大檢查間隔（毫秒）
MAX_IDLE_CHECK_INTERVAL=300000

# 指數退避倍數
IDLE_CHECK_BACKOFF_FACTOR=1.5

# 3CX 管理員認證
ADMIN_3CX_CLIENT_ID=<CLIENT_ID>
ADMIN_3CX_CLIENT_SECRET=<CLIENT_SECRET>
ADMIN_3CX_GRANT_TYPE=client_credentials

# Redis 連接設定
REDIS_URL=redis://{your-redis-service-host}:6379
# ================================================


# ================== 自動語音通知 ==================

# ================================================